<?xml version="1.0"?>
<launch>
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="2 $(find audio2string)/launch/speech_rec.launch"
        name="timed_roslaunch1" >      
    </node>

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="5 $(find audio2string)/launch/camera_capture.launch"
        name="timed_roslaunch2" >      
    </node>
</launch>